@model Code_test.Client.Models.Code_testModel

@{
    ViewBag.Title = "Index";
}

<h2>Code Test</h2>
@using (Html.BeginForm("Index", "Widget", FormMethod.Post))
{
   <div>
      @Html.DropDownListFor(m => m.SelectedWidget, Model.MySelections, new { @class = "btn btn-default dropdown-toggle" })
      <button type="submit" class="btn btn-primary" style="margin-left:2%"> Select This Widget</button>
   </div>
  
   

}

